@tailwind base;
@tailwind components;
@tailwind utilities;

/*! Shadcn-UI */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-mono text-foreground antialiased;
  }
  main {
    @apply mx-auto my-12 flex min-h-screen flex-col items-center;
  }
  header {
    @apply py-4;
  }
  h1 {
    @apply mb-4 text-3xl font-extrabold leading-none lg:text-4xl 2xl:text-7xl;
  }
  h2 {
    @apply mb-4 text-2xl font-extrabold tracking-tighter sm:tracking-wide lg:text-3xl 2xl:text-6xl;
  }
  h3 {
    @apply mb-4 text-xl font-semibold leading-tight tracking-tight sm:tracking-normal lg:text-2xl 2xl:text-5xl;
  }
  p {
    @apply my-4 leading-relaxed 2xl:text-xl;
  }
}

/*! Scrollbar */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #3985ff #ffffff;
}
/* Chrome & Others */
::-webkit-scrollbar {
  width: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #3985ff;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

/*! Active Navbar */
.link0,
.link1,
.link2,
.link3 {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
}
.link0:hover {
  color: #fbbf24;
}
.link0.active {
  font-weight: bold;
  color: #fbbf24;
  border-bottom: 2px solid #fbbf24;
}
.link1:hover {
  color: #34d399;
}
.link1.active {
  font-weight: bold;
  color: #34d399;
  border-bottom: 2px solid #34d399;
}
.link2:hover {
  color: #60a5fa;
}
.link2.active {
  font-weight: bold;
  color: #60a5fa;
  border-bottom: 2px solid #60a5fa;
}
.link3:hover {
  color: #f87171;
}
.link3.active {
  font-weight: bold;
  color: #f87171;
  border-bottom: 2px solid #f87171;
}
